/* Fleet Monitor App - Main Styles */
@import './css/global.css';
@import './css/navbar.css';
@import './css/layout.css';
@import './css/components.css';
@import './css/pages.css';
@import './css/settings.css';
@import './css/profile.css';
@import './css/auth.css';
@import './css/form.css';